.admin{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid lightblue;
    padding: 10px;
    border-radius: 7px;
    .table_container{
        width: 85vw;
        min-height: 75vh;
        overflow: auto;
    }
}