.login{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid lightblue;
    padding: 10px;
    border-radius: 7px;
    .container_box{
        // background-color: red;
        width: 30vw;
        min-height: 34vh;
        .pwd_field,.mail_field{
            label{
                margin-bottom: 0.2rem !important;
            }
            margin-bottom: 0.2rem !important;
        }
        .btns{
            padding: 10px;
            display: flex;
            column-gap: 10px;
            *{
                flex:0 1 100%;
            }
        }
        .fgpwd{
            color: dodgerblue;
            a:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .error_span{
        color: red;
        font-size: .8rem;
    }
}